version: 2.1

jobs:
  unit_test:
    machine:
      enabled: true
      image: "ubuntu-1604:201903-01"
    steps:
      - checkout
      - run:
          name: run py tests
          command: |
            cd test
            pip install --upgrade pip
            pip install tox
            tox


workflows:
  version: 2
  test:
    jobs:
      - unit_test:
          filters:
            tags:
              only: /^v.*/
